<ul class="collection">
    <li class="collection-item indigo lighten-3" *ngFor="let region of regions">
        <div class="row">
            <div class="col s6">
                <h5>{{region.name}}!</h5>
            </div>
            <div class="valign-wrapper">
                <div class="col s3 offset-s3">
                    <a class="btn-floating btn waves-effect waves-light white ">
                        <i class="material-icons black">add</i>
                    </a>
                </div>
            </div>
        </div>
    </li>
</ul>